# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data Science Tools
* Arithmetic expressions examples in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. matplotlib
4. seaborn
5. scikit-learn

|Data Science Tools|
|---|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|
|Microsoft Visual Studio|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python
This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200 / 60

3.3333333333333335

## Author
Parul Verma